header
  // Navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand Что-то с чем-то и ни о чем
        button.navbar-toggler.collapsed(
          type='button' 
          data-bs-toggle='collapse' 
          data-bs-target='#navbar1'
          aria-label="Toggle navigation"
          aria-expanded="false")
          span.navbar-toggler-icon

        #navbar1.collapse.navbar-collapse
            ul.nav.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link(href='/login') Вход
              li.nav-item
                a.nav-link(href='/') Список дел

