extends layout
include _mixins

block content
  section.h-100.align-items-center.d-flex
    .container.py-5.h-100 
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col.col-xl-10 
          .card
            .card-header.text-center
              h1 Список дел
            .card-body.p-5 
              // Add task form
              form.d-flex.justify-content-center.align-items-center.mb-4(
                action="/add"
                method="post")
                .form-outline.flex-fill
                  input.form-control(
                    type='text' 
                    placeholder="Писать новую задачу сюда" 
                    name="newTask")
                button.btn.btn-info.ms-2(type='submit') Добавить
              
              ul.list-group.todo-list(name="todoList")
                each val, index in todoItems
                  +todo-item(val.text, index, val.checked)
  
  script(src="/javascripts/todo.js") 
