extends layout

block content
    .container-fluid.d-flex.align-items-center.justify-content-center.py-5
        .card.text-center
            .card-body
                
                p#loginAlert #{alert}
                    
                form.form-signin.justify-content-center.align-items-center.h-5(method='post')
                    input#inputEmail.form-control.my-3(
                        name='loginEmail' 
                        type='email' 
                        placeholder='Email' 
                        required 
                        autofocus)
                    input#inputPassword.form-control.my-3(
                        name='loginPassword' 
                        type='password' 
                        placeholder='Пароль' 
                        required)
                    button.btn.btn-lg.btn-primary.mb-3(type='submit') Войти куда-то
    
    script(type='text/javascript' src='/javascripts/login.js')
        
    

    
    